body {
   background: #a2a8d3;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    color: #38598b;
}
.container {
    margin: 10px 50px 20px;
    max-width: 500px;
}

h1 {
    font-size: 27px;
    color: #113f67;
    line-height: 2px;
    font-weight: 300px;
    text-align: centre;
    padding: 0 auto;
    margin: 10px 50px 20px;
    text-align: center;
}

form {
    background-color: #a8b1ea;
    padding: 20px;
    border: 1px solid #113f67;
    border-radius: 3px;
    display: flex;
    max-width: 75%;
}

.content {
    padding: 10px;
    color: #113f67;
    width: 75%
    border: 2px solid #113f67;
    font-size: 13px;
    line-height: 17px;
    background-color: #e7eaf6
}

.button {
   background-color: #a2a8d3;
   border: 2px solid #113f67;
   font-size: 13px;
   line-height: 17px;
   max-width: 15%
   margin-left: 10px
}
.joke {


}

footer {
font-size: 13px;
line-height: 15px;
font-weight: light;
text-align: center;
margin-top: 27px;
}