body {
   background: #a2a8d3;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    color: #38598b;
}

.container {
    margin: 10px 50px 20px;
    max-width: 500px;
}

header {
    margin-top: 30px;
    margin-bottom: 20px;

}

h1 {
    font-size: 27px;
    color: #113f67;
    line-height: 2px;
    font-weight: 300px;
    text-align: centre;
    padding: 0 auto;
    margin: 10px 50px 20px;
    text-align: center;
}

form {
    padding: 0 auto;
    display: flex;
    max-width: 100%;
    margin-top: 20px;
}

main {
    background-color: #a8b1ea;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}
.content {
    padding: 10px;
    color: #113f67;
    width: 75%;
    border: 2px solid #113f67;
    border-radius: 5px;
    font-size: 13px;
    line-height: 17px;
    background-color: #e7eaf6;
}

.button {
   background-color: #a2a8d3;
   border: 2px solid #113f67;
   font-size: 13px;
   line-height: 17px;
   max-width: 95%;
   margin-left: 10px;
   border-radius: 5px;
}

.topic{
color: #113f67;
opacity: .70;
margin-top: 10px;
font-size: 15px;
line-height:10px;
text-align: left;
}

.joke {
 color: #113f67;
margin-bottom: 10px;
margin-top: 0;
}

footer {
font-size: 13px;
line-height: 15px;
font-weight: light;
text-align: center;
margin-top: 24px;
}