body {
   background: #a2a8d3;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container {
    margin: 100px auto;
    max-width: 550px;
}

h1 {
    font-size: 27px;
    color: #113f67;
    line-height: 2px;
    font-weight: 300px;
    text-align: centre;
    margin: 0;
}

form {
    background-color: #e7eaf6;
    padding: 30px;
    border: 10px solid #113f67;
    border-radius: 3px;
    display: flex;
}

.content {
    padding: 17px;
    color: #113f67;
    width: 75%
    border: 2px solid rgba(39, 33, 66, 0.5);
}